
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color  : #000;
    --secondary-color: #fff;
}

html {
    font-size: 62.5%;
    transition: all 0.5s ease-in;
}


html.dark {
    --primary-color  : #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

body {
    display: flex;
        align-items: center;
        justify-content: center;
    font-family: 'Heebo', 'sans-serif';
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.toggle {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0.4rem;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    position: absolute;
        top: 10rem;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
}

.clock {
    position: relative;
    height: 20rem;
    width: 20rem;
}

.needle {
    background-color: var(--primary-color);
    height: 6.5rem;
    position: absolute;
        left: 50%;
        top: 50%;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
    width: 0.3rem;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    height: 10rem;
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.second {
    background-color: #e74c3c;
    height: 10rem;
    transform: translate(-50%, -100%) rotate(00deg);
}

.center-point {
    background-color: #e74c3c;
    border-radius: 50%;
    height: 1rem;
    position: absolute;
        left: 50%;
        top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
}

.center-point::after {
    background-color: var(--primary-color);
    border-radius: 50%;
    content: '';
    height: 0.5rem;
    position: absolute;
        left: 50%;
        top: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
}

.time {
    font-size: 6rem;
}

.date {
    color: #aaa;
    font-size: 1.4rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--secondary-color);
    display: inline-flex;
        align-items: center;
        justify-content: center;
    font-size: 1.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    transition: all 0.5s ease-in;
    width: 1.8rem;
}